/* === RESET & BASE STYLES === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: fantasy;
    font-weight: 500;
    color: black;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #a5a5a8;
    background-image: url(Images/Main/Main-Background.png);
    background-repeat: repeat;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.moon a {
    color: white;
}

.moon {
    color: white;
    background-color: #121212;
}

ul.basic,
li.basic {
    list-style-image: url(Images/Main/Poké-Ball.png);
    font-weight: bold;
    padding: 2px;
}

ul.standard,
li.standard {
    list-style-image: url(Images/Main/Great-Ball.png);
    font-weight: bold;
    padding: 2px;
}

ul.ultimate,
li.ultimate {
    list-style-image: url(Images/Main/Ultra-Ball.png);
    font-weight: bold;
    padding: 2px;
}

ul.master,
li.master {
    list-style-image: url(Images/Main/Master-Ball.png);
    font-weight: bold;
    padding: 2px;
}


/* === HEADER === */
header {
    display: flex;
    height: 80px;
    background-image: url(Images/Main/Extra-Background.png);
    background-repeat: repeat;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        font-size: 1.25rem;
        gap: 0.5rem;
    }
}

@media (max-width: 400px) {
    header {
        font-size: 1rem;
    }
}



/* === TOGGLE SWITCH === */
div.theme {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 7px;
    padding-right: 1rem;
}

span.theme-text {
    position: absolute;
    top: 0;
    font-size: 0.9rem;
    color: white;
}

button.theme-switch {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.068);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-top: 20px;
}

button.theme-switch:hover {
    background-color: rgba(255, 255, 255, 0.167);
}

#sun {
    background-image: url('Images/Main/Sun.png');
}

#moon {
    background-image: url('Images/Main/Moon.png');
}



/* === INFORMATION BOX === */
div.infobox {
    width: 80%;
    margin: auto;
    border: 1px solid #7d7d7d;
}

.moon div.infobox {
    border: 1px solid #232426;
}

div.infobox a {
    text-decoration: underline;
}

div.title {
    font-weight: bold;
    text-align: center;
    background-color: #a9aaad;
}

.moon div.title {
    background-color: #232426;
}

div.section {
    text-align: left;
    background-color: #e3e4e8;
    background-image: url(Images/Main/Sun-Accent.png);
    padding: 10px 30px;
}

.moon div.section {
    background-color: #131416;
    background-image: url(Images/Main/Moon-Accent.png);
}

div.links {
    display: flex;
    justify-content: center;
    gap: 5%;
}

p.tip {
    text-align: right;
}

li.expand {
    margin-left: 20px;
    font-weight: normal;
    font-style: italic;
    padding: 2px;
}



/* === LAYOUT === */
div.content-wrapper {
    display: flex;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

@media (max-width: 768px) {
    div.content-wrapper {
        flex-direction: column;
    }
}



/* === SIDEBAR === */
nav.sidebar ul {
    padding: 10px 30px;
}

nav.sidebar {
    grid-area: sidebar;
    position: sticky;
    overflow-y: auto;
    top: 7px;
    margin-left: 1rem;
    width: 200px;
    max-height: 593px;
    background-color: #e3e4e8;
    background-image: url(Images/Main/Sun-Accent.png);
    border: 1px solid #7d7d7d;
}

@media (max-width: 768px) {
    nav.sidebar {
        position: relative;
        margin: 0 0 1rem 0;
        width: 100%;
        max-height: none;
    }
}

.moon nav.sidebar {
    color: #eee;
    background-color: #131416;
    background-image: url(Images/Main/Moon-Accent.png);
    border-color: #232426;
}

/* Search Bar display */
div.search {
    margin-top: 10px;
    margin-left: 10px;
}

div.search button {
    margin-left: 5px;
    width: 45px;
}

div.search input {
    width: 70%;
    text-align: center;
    font-weight: 600;
}

p.searchInfo {
    margin: 1ch 0 0;
    padding-bottom: 10px;
    width: 100%;
    font-size: small;
    text-align: center;
    font-weight: 700;
}



/* === CHEATS === */
button.cheat {
    display: inline-block;
    margin: 0 auto;
    padding: 0.3rem 0;
    width: 31%;
    color: black;
    background-color: #a9aaad;
    border: 0;
    border-radius: 4px;
    font-size: medium;
    cursor: pointer;
}

.moon button.cheat {
    color: white;
    background-color: #232426;
}

button.cheat:hover {
    background-color: #c7c8cb;
}

.moon button.cheat:hover {
    background-color: #373b3d;
}



/* === FILTERS === */
div.filter-container {
    margin: 1rem auto;
    width: 90%;
    text-align: center;
}

button.filter-button {
    display: inline-block;
    margin: 0 auto;
    padding: 0.3rem 0;
    width: 100%;
    max-width: 200px;
    color: black;
    background-color: #a9aaad;
    border: 0;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.moon button.filter-button {
    color: white;
    background-color: #232426;
}

button.filter-button:hover {
    background-color: #c7c8cb;
}

.moon button.filter-button:hover {
    background-color: #373b3d;
}

div.filter-settings {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    padding: 20px;
    width: 70%;
    height: 90%;
    max-height: 100vh;
    background-color: #e3e4e8;
    border: 1px solid #7d7d7d;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

div.filter-settings.open {
    display: block;
}

.moon div.filter-settings {
    background-color: #131416;
    border-color: #232426;
}

button.filter-close {
    position: absolute;
    top: 0px;
    right: 10px;
    margin: 0;
    padding: 0;
    color: #9c3a3a;
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

div.filter-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    gap: 0.8rem 1.5rem;
}

div.filter-section h2,
div.filter-section h3 {
    display: inline-block;
    padding-bottom: 0.2rem;
    width: 100%;
    color: #111827;
    font-weight: 600;
    border-bottom: 2px solid #292929b5;
}

div.filter-section h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

div.filter-section h3 {
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
}

.moon div.filter-section h2,
.moon div.filter-section h3 {
    color: white;
    border-color: #ffffff31;
}

div.filter-section p {
    margin-bottom: 1rem;
}

/* Label styling */
div.filter-section label {
    display: inline-flex;
    width: 120px;
    align-items: center;
    color: #374151;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
}

.moon div.filter-section label {
    color: white;
}

/* Checkbox styling */
input[type="checkbox"] {
    accent-color: #1a29ff;
}

div.filter-section label input[type="checkbox"] {
    margin-right: 0.5rem;
    width: 15px;
    height: 15px;
    cursor: pointer;
}



/* === PROGRESS BARS === */
progress {
    margin: 0.25rem 0;
    width: 100%;
    height: 10px;
    background-color: #f8f8f8;
    border: 1px solid black;
    border-radius: 0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    appearance: none;
}

.moon progress {
    background-color: #232426;
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.6);
}

progress::-webkit-progress-bar {
    background-color: #f8f8f8;
}

progress::-webkit-progress-value {
    background: linear-gradient(90deg, #4ec85a, #9afb8f);
}

progress::-moz-progress-bar {
    background: linear-gradient(90deg, #4ec85a, #9afb8f);
}



/* === MAIN CONTENT === */
main {
    flex: 1;
    padding: 1rem;
    width: 100%;
}

div.storage-system {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.7rem;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

@media (max-width: 1024px) {
    div.storage-system {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 600px) {
    div.storage-system {
        grid-template-columns: 1fr;
    }
}

div.pc-box {
    padding: 1rem;
    background-color: #e3e4e8;
    background-image: url(Images/Main/Sun-Accent.png);
    border: 1px solid #7d7d7d;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: visible;
    position: relative;
    z-index: 0;
}

div.pc-box:hover {
    z-index: 10;
}

.moon div.pc-box {
    background-color: #131416;
    background-image: url(Images/Main/Moon-Accent.png);
    border-color: #232426;
}



/* === PC LAYOUT === */
div.pc-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    position: relative;
    margin-top: 1rem;
    overflow: visible;
}

@media (max-width: 1024px) {
    div.pc-layout {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 768px) {
    div.pc-layout {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    div.pc-layout {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 400px) {
    div.pc-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

div.pc-layout img {
    border-radius: 7px;
    background-color: #f8f8f8;
}

.moon div.pc-layout img {
    background-color: #232426;
}

img.own {
    opacity: 1.0;
}

img.notown {
    opacity: 0.4;
}

img.notown:hover {
    opacity: 1.0;
}

main img.own:focus {
    background-image: radial-gradient(closest-side, goldenrod, transparent);
}

main img.notown:focus {
    opacity: 1.0;
    background-image: radial-gradient(closest-side, silver, transparent);
}



/* === TOOLTIP === */
div.pkmn {
    display: inline-block;
    cursor: pointer;
    z-index: 0;
}

div.pkmn span.summary {
    position: fixed;
    top: auto;
    bottom: auto;
    left: 50%;
    padding: 8px 12px;
    width: 270px;
    background-color: #e3e4e8;
    background-image: url(Images/Main/Sun-Accent.png);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 0.9rem;
    text-align: center;
    visibility: hidden;
    transform: translateX(-50%) translateY(10px);
}

@media (max-width: 600px) {

    div.pkmn span.summary {
        bottom: 120%;
        left: 50%;
        width: 90vw;
        font-size: 0.9rem;
    }
}

.moon div.pkmn span.summary {
    color: white;
    background-color: #131416;
    background-image: url(Images/Main/Moon-Accent.png);
}

div.pkmn:hover span.summary {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

span.summary p.species {
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: 600;
}

span.summary p.form {
    margin-top: 7px;
    margin-bottom: 7px;
    font-style: italic;
    font-weight: 400;
}



/* === TOOLTIP EXTRA === */
div.common,
div.uncommon,
div.rare,
div.very-rare,
div.novelty {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
}

div.common {
    background-image: url("Images/Pokémon-Info/Common.png");
}

div.uncommon {
    background-image: url("Images/Pokémon-Info/Uncommon.png");
}

div.rare {
    background-image: url("Images/Pokémon-Info/Rare.png");
}

div.very-rare {
    background-image: url("Images/Pokémon-Info/Very-Rare.png");
}

div.novelty {
    background-image: url("Images/Pokémon-Info/Novelty.png");
}

span.summary p.generation {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 4px;
    font-size: 0.95rem;
    font-weight: 700;
    border-bottom: 1px solid black;
}

.moon span.summary p.generation {
    border-bottom: 1px solid white;
}

div.male,
div.female {
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 0% 50%;
    width: 7px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

div.male {
    background-image: url(Images/Pokémon-Info/Male.png);
}

div.female {
    background-image: url(Images/Pokémon-Info/Female.png);
}

div.normal,
div.fighting,
div.flying,
div.poison,
div.ground,
div.rock,
div.bug,
div.ghost,
div.steel,
div.fire,
div.water,
div.grass,
div.electric,
div.psychic,
div.ice,
div.dragon,
div.dark,
div.fairy,
div.bird {
    display: inline-block;
    margin-bottom: 7px;
    width: 60px;
    height: 14px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

span.summary div:not(:last-child) {
    margin-right: 10px;
}

div.normal {
    background-image: url(Images/Pokémon-Info/Normal.png);
}

div.fighting {
    background-image: url(Images/Pokémon-Info/Fighting.png);
}

div.flying {
    background-image: url(Images/Pokémon-Info/Flying.png);
}

div.poison {
    background-image: url(Images/Pokémon-Info/Poison.png);
}

div.ground {
    background-image: url(Images/Pokémon-Info/Ground.png);
}

div.rock {
    background-image: url(Images/Pokémon-Info/Rock.png);
}

div.bug {
    background-image: url(Images/Pokémon-Info/Bug.png);
}

div.ghost {
    background-image: url(Images/Pokémon-Info/Ghost.png);
}

div.steel {
    background-image: url(Images/Pokémon-Info/Steel.png);
}

div.fire {
    background-image: url(Images/Pokémon-Info/Fire.png);
}

div.water {
    background-image: url(Images/Pokémon-Info/Water.png);
}

div.grass {
    background-image: url(Images/Pokémon-Info/Grass.png);
}

div.electric {
    background-image: url(Images/Pokémon-Info/Electric.png);
}

div.psychic {
    background-image: url(Images/Pokémon-Info/Psychic.png);
}

div.ice {
    background-image: url(Images/Pokémon-Info/Ice.png);
}

div.dragon {
    background-image: url(Images/Pokémon-Info/Dragon.png);
}

div.dark {
    background-image: url(Images/Pokémon-Info/Dark.png);
}

div.fairy {
    background-image: url(Images/Pokémon-Info/Fairy.png);
}

div.bird {
    background-image: url(Images/Pokémon-Info/Bird.png);
}

span.summary p.requirements {
    margin-top: 3px;
    font-size: 0.95rem;
    font-weight: 700;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.moon span.summary p.requirements {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

ul.dex {
    list-style-image: url(Images/Main/Poké-Ball.png);
    text-align: left;
    padding: 5px 20px;
}

ul.dex li {
    padding: 2px 0px;
}



/* === FOOTER === */
footer {
    margin-top: 50px;
    padding: 0.75rem 1rem;
    background-image: url(Images/Main/Extra-Background.png);
    background-repeat: repeat;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    border-top: 2px solid black;
}

@media (max-width: 400px) {
    footer {
        font-size: 0.75rem;
    }
}

div.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin: 0 auto;
    max-width: 800px;
}

img.logo {
    margin: 0 auto;
    width: 50px;
}

div.project-links a {
    color: white;
    text-decoration: underline;
}

div.project-links h4 {
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid white;
    font-size: 1rem;
}

div.project-links ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.project-links a img.cyclone {
    margin-top: 1rem;
    width: 80px;
    height: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* === GETTING STARTED === */
div.content-wrapper-gs {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

main.gs {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    gap: 20px;
    width: 100%;
}

div.infobox-gs {
    width: 100%;
    margin: auto;
    border: 1px solid #7d7d7d;
}

.moon div.infobox-gs {
    border: 1px solid #232426;
}

div.section-gs {
    text-align: center;
    background-color: #e3e4e8;
    background-image: url(Images/Main/Sun-Accent.png);
    padding: 10px 30px;
}

div.section-gs a {
    text-decoration: underline;
}

.moon div.section-gs {
    background-color: #131416;
    background-image: url(Images/Main/Moon-Accent.png);
}

div.sub-section {
    text-align: left;
    background-color: #e3e4e8;
    background-image: url(Images/Main/Main-Background.png);
    border: 1px solid #7d7d7d;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.moon div.sub-section {
    background-color: #131416;
    background-image: url(Images/Main/Main-Background.png);
    border: 1px solid #232426;
}

details {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

summary {
    margin: auto;
    background-color: #a9aaad;
    font-weight: bold;
    text-align: center;
}

.moon summary {
    background-color: #232426;
}

p.highlight {
    font-weight: bolder;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: underline;
}

img.welcome {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 200px;
    margin-bottom: 40px;
}

img.gs {
    margin-top: 10px;
    margin-bottom: 10px;
}

img.help-1 {
    border: 1px solid black;
    width: 100%;
}

img.help-2 {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    width: 70%;
}

img.help-3 {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    width: 40%;
}
